.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar .profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar .profile .profile-picture {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100px;
}
.navbar .profile .username {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
}