.sidebar {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-blue);
  color: var(--primary-darkBlue);
}

.sidebar.open {
  width: 170px;
}

.sidebar.close {
  width: 50px;
}
.sidebar.close p{
  display: none;
}
.sidebar.close .sidebar-nav ul {
  align-items: center;
}
.sidebar-container {
  width: 85%;
  padding: 10px ;
}

.bottomSidebar {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  gap: 8px;
}
.sidebar p {
  font-weight: bold;
}

.collapse {
  display: flex;
  align-items: center;
  gap: 8px
}
.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--primary-green);
  outline:  2px solid var(--primary-green);
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: var(--primary-green);
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 8px 12px;
}

.sidebar-nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px
}

.sidebar-nav ul li {
  padding: 4px 0;
  transition: all ease-in 120ms;
}

.sidebar-nav ul li a{
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--primary-darkBlue);
}

.sidebar-nav .active, .sidebar-nav ul li:hover {
  padding: 8px 12px;
  border-radius: 12px;
  background-color: var(--primary-green);
}
.sidebar-nav ul li:hover {
  animation: beat 1s ease-in-out infinite;
}

@keyframes beat {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
}

.logout-btn {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  
  .sidebar.open  {
    width: 50px;
  }
  .sidebar p{
    display: none;
  }
  .sidebar-nav ul {
    align-items: center;
  }
}