.page-not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-not-found-link {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
}
.page-not-found-link a {
  color:cadetblue;
}